<nav class="fixed w-full bg-white shadow-lg z-50 backdrop-blur transition-all duration-300 h-20">
    <div class="max-w-7xl mx-auto px-5 flex justify-between items-center h-full">
        <ul class="flex gap-8">
            <li><a href="#home" class="font-medium text-gray-700 hover:text-primary transition-colors">Home</a></li>
            <li><a href="#about" class="font-medium text-gray-700 hover:text-primary transition-colors">About</a></li>
            <li><a href="#projects" class="font-medium text-gray-700 hover:text-primary transition-colors">Projects</a></li>
        </ul>
    </div>
</nav>
