<section id="projects" class="projects-section">
    <div class="container">
        <h2>Projects</h2>
        <div class="projects-grid">
            <div class="project-card glow-card">
                <div class="glows"></div>
                <img src="src/images/projects/Crawly Bird Gameplay.png" alt="First Unity Game">
                <h3>Crawly Bird - A Flappy Bird Clone</h3>
                <p>My first game made in Unity.
                     This is a very simple flappy bird clone I made by 
                     following a tutorial. While it may not be all that impressive in and of itself,
                      this was an important step for me to learn the basics of Unity and discover my passion for Video Game Development</p>
                <div class="project-links">
                    <a href="https://play.unity.com/en/games/ba826e16-e5ce-47d9-8308-600523055365/crawly-bird-flappy-bird-clone" class="demo-link" target="_blank">
                        <i class="fas fa-gamepad"></i> Play Game
                    </a>
                    <a href="https://github.com/n-dorazio/Flappy-Clone" class="github-link" target="_blank">
                        <i class="fab fa-github"></i> View Code
                    </a>
                </div>
            </div>

            <div class="project-card glow-card">
                <div class="glows"></div>
                <img src="src/images/projects/Dragon Game Gameplay.png" alt="Second Unity Game">
                <h3>Dragon Game - 2D Platformer Basics</h3>
                <p>This is a very simple 2D platformer game made to develop my skills in implementing various functionality. 
                    It was made by following a tutorial series on YouTube by @PandemoniumGameDev.</p>
                <div class="project-links">
                    <a href="https://play.unity.com/en/games/d0705a13-fc05-4797-a9ab-5efa91416a7c/first-2d-platformer-dragon-game" class="demo-link" target="_blank">
                        <i class="fas fa-gamepad"></i> Play Game
                    </a>
                    <a href="https://github.com/n-dorazio/2DPlatformer-Testing" class="github-link" target="_blank">
                        <i class="fab fa-github"></i> View Code
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
