/* Global Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

@keyframes overlayShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.glow-container {
    --spread: 60;
    position: relative;
}
